# Ignore all resources except ones unique to recreation

*.png

sounds/*/*
!sounds/*/*.yy

!sprites/sprMobileControlAbility/*
!sprites/sprMobileControlCorners/*
!sprites/sprMobileControlCornersSmaller/*
!sprites/sprMobileControlCrosshair/*
!sprites/sprMobileVolumeControl/*
!sprites/sprMobileVolumeControlRU/*
!sprites/sprButtonDiscord/*
!sprites/sprbuttonachievements/*
!sprites/sprite1337/*

scripts/scrSendDailyData/*

*.dll

merge-tool.js