# Ignore all pngs except mobile-only and icons from options

*.png

!sprites/sprMobileControlAbility/*
!sprites/sprMobileControlCorners/*
!sprites/sprMobileControlCornersSmaller/*
!sprites/sprMobileControlCrosshair/*
!sprites/sprMobileVolumeControl/*
!sprites/sprMobileVolumeControlRU/*
!sprites/sprButtonDiscord/*
!sprites/sprbuttonachievements/*
!sprites/sprite1337/*

sounds/snd*
sounds/amb*

node_modules
beautifier.js
package.json
package-lock.json

scripts/scrSendDailyData/*
